!!!
%html
  %head
    %title= @title? "#{SiteConfig.title}: #{@title}" : SiteConfig.title
    %link{:href => '/css/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/prettify.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => '/js/jquery-1.4.2.min.js'}
    %script{:type => 'text/javascript', :src => '/js/prettify/prettify.js'}
    %script{:type => 'text/javascript'}
      $(document).ready(function () { 
      $('pre').addClass('prettyprint')
      prettyPrint() 
      });
  %body
    #container
      #header
        #nav
          %a{:href => '/'} home
          %a{:href => 'http://github.com/rjsvaljean'} projects
          %a{:href => '/archive'} archive
        #logo
          %h1
            %a{:href => '/'}= SiteConfig.title
        .clear
      #content= yield
      #footer
        %p#legal
          &mdash; &copy; 2010 
          %a{:href => 'http://twitter.com/rjsvaljean'}
            =SiteConfig.author
          \:
          %a{:href => 'http://twitter.com/rjsvaljean'}
            %img{:src => '/images/twitter.jpg'}
          %a{:href => 'http://in.linkedin.com/in/ratanjs'}
            %img{:src => '/images/linkedin.jpg'}
          %a{:href => 'http://github.com/rjsvaljean'}
            %img{:src => '/images/github.jpg'}
          %a{:href => '/posts.xml'}
            %img{:src => '/images/rss.jpg', :class => 'rss'}
          &mdash;

        %script{:type => "text/javascript"}
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-17222673-1']);
          _gaq.push(['_trackPageview']);
          (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
