!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => "/js/jquery-1.4.2.min.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src => "/js/jquery-syntax/jquery.syntax.min.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:type => "text/javascript", :charset => "utf-8"}
      jQuery(function($) {
      $.syntax({root: "/js/jquery-syntax/", blockSelector: "pre", inlineSelector: "code"});
      });
  %body
    #container
      #header
        #nav
          %a{:href => '/'} home
          %a{:href => 'http://github.com/rjsvaljean'} projects
          %a{:href => '/archive'} archive
        #logo
          %h1
            %a{:href => '/'}= SiteConfig.title
        .clear
      #content= yield
      #footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"
