!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #container
      #header
        #nav
          %a{:href => '/'} home
          %a{:href => 'http://github.com/rjsvaljean'} projects
          %a{:href => '/archive'} archive
        #logo
          %h1
            %a{:href => '/'}= SiteConfig.title
        .clear
      #content= yield
      #footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"
