!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/css/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/prettify.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => '/js/jquery-1.4.2.min.js'}
    %script{:type => 'text/javascript', :src => '/js/prettify/prettify.js'}
    %script{:type => 'text/javascript'}
      $(document).ready(function () { 
      $('pre').addClass('prettyprint')
      prettyPrint() 
      });
  %body
    #container
      #header
        #nav
          %a{:href => '/'} home
          %a{:href => 'http://github.com/rjsvaljean'} projects
          %a{:href => '/archive'} archive
        #logo
          %h1
            %a{:href => '/'}= SiteConfig.title
        .clear
      #content= yield
      #footer
        %p#legal= "&mdash; &copy; 2010 <a href='http://twitter.com/rjsvaljean'>#{SiteConfig.author}</a> &mdash;"
